# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
# Libraries should not include pubspec.lock, per https://dart.dev/guides/libraries/private-files#pubspeclock.
node_modules
**/doc/api/
**/.dart_tool/
example/build/
package/build/
.flutter-plugins*
package/test/.env-test.json
/example/ios/_GoogleService-Info.plist
/build/
/example/lib/firebase_options.dart
/example/ios/Podfile.lock
